@import "../../variables.module.scss";

.button {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: $border-radius-default;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.25s;

    &:disabled {
        cursor: not-allowed;
    }
}

.primary {
    background-color: $color-background-success;
    color: $color-background-light-gray;

    &:hover {
        background-color: $color-background-dark;
    }
}

.secondary {
    background-color: $color-background-light-gray;
    color: $color-background-success;

    &:hover {
        background-color: $color-background-gray;
    }
}

.outlined {
    border: 1px solid $color-background-success;
    color: $color-background-success;
    background-color: transparent;

    &:hover {
        border: 1px solid $color-background-dark;
        color: $color-background-dark;
    }
}

.textOnly {
    background-color: transparent;
    color: $color-background-success;
    box-shadow: none;

    &:hover {
        background-color: transparent;
        color: $color-background-dark;
    }
}

.danger {
    background-color: $color-background-danger;
    color: $color-background-light-gray;

    &:hover {
        background-color: $color-background-danger-dark;
    }
}
