@import "../../../variables.module.scss";

input.textInput {
    background: $color-background-light-gray;
    border: 1px solid $color-background-gray;
    color: $color-text-default;
    font-size: $font-size-default;
    height: 4.0rem;
    padding: $spacing-extra-small $spacing-small;
    border-radius: $border-radius-default;
    width: 100%;

    &::placeholder {
        color: $color-background-dark;
    }
}

.labelText {
    display: block;
    font-weight: bold;
    margin-bottom: $spacing-extra-small;
}
