@import "../../variables.module.scss";

fieldset,
.transactionValue,
.transactionDescription,
.hasExpiration {
    background: #ffffff;
}

fieldset {
    label {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.7rem;

        &:nth-child(2) {
            margin-top: 1.8rem;
        }

        &:not(:last-child) {
            margin-bottom: 1.3rem;
        }

        span {
            margin-left: 0.9rem;
        }
    }
}

label,
strong {
    font-size: 1.6rem;
}

strong {
    display: block;
    font-weight: 700;
}

.categories,
.hasExpiration,
.expenseType {
    input {
        &[type="radio"],
        &[type="checkbox"] {
            opacity: 0;
        }
    }
}

input {
    &::-webkit-calendar-picker-indicator {
        display: none;
    }

    &::-webkit-datetime-edit-fields-wrapper {
        display: flex;
        justify-content: center;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 2);
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h1 {
        color: #444c66;
        font-size: 3.6rem;
        font-weight: 400;
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
}

.transactionValue,
.expirationDate {
    &,
    input {
        color: $color-danger;
    }
}

.transactionValue {
    border-radius: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 8rem;
    justify-items: end;
    margin-top: 1.3rem;

    sup {
        font-size: 1.4rem;
        margin-top: 2.4rem;
    }

    input {
        background: none;
        font-size: 3.6rem;
        width: 100%;
    }
}

.transactionDescription {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    margin-top: 1.5rem;
    padding: 2.2rem 4.5rem 1.8rem 2.2rem;

    input {
        background: #ebebeb;
        height: 4.3rem;
        margin-top: 1.1rem;
        width: 100%;
        padding-left: 0.9rem;
    }
}

.categories {
    padding: 0rem 4.1rem 2.3rem 2.2rem;
}

.categories,
.expenseType,
.hasExpiration {
    &,
    label {
        position: relative;
    }
}

.categories,
.expenseType {
    label span::after {
        border-radius: 50%;
        left: 0;
    }
}

.hasExpiration span::after {
    left: 2.2rem;
}

.categories label,
.expenseType label,
.hasExpiration {
    span::after {
        background-color: #f1eeee;
        border: 1.5px solid #cccccc;
        content: "";
        height: 12px;
        pointer-events: none;
        position: absolute;
        top: 0.3rem;
        width: 12px;
    }
}

.categories label,
.expenseType label,
.hasExpiration {
    input:checked + span::after {
        background-color: #01c9b8;
    }
}

.hasExpiration {
    padding-left: 2.2rem;
    padding-bottom: 1.5rem;

    span {
        margin-left: 0.7rem;
    }
}

.expirationDate {
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    font-size: 3.6rem;
    padding-bottom: 1rem;
}

.button {
    color: #ffffff;
    font-size: 1.6rem;
    height: 3.5rem;
    margin-bottom: $spacing-extra-small;

    &:hover {
        filter: brightness(0.95);
    }
}

.twoColumns {
    grid-column: 1/3;
}
