@import "../../variables.module.scss";

.form {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6.4rem);

    div {
        flex: 1;
    }

    fieldset {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-small;

        label {
            margin-right: $spacing-large;
        }
    }

    button {
        align-self: flex-end;
    }
}
