@import "../../index.scss";

.modalContainer {
    background-color: rgba($color: #000, $alpha: 0.3);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWrapper {
    padding: 1.6rem;
    background: white;
    width: 90%;

    h2 {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    input[type="date"] {
        height: 30px;
        background: $color-background-gray;
        border-radius: 5px;
        &::-webkit-calendar-picker-indicator {
            background-color: $color-background-success;
        }

        &::-webkit-datetime-edit-fields-wrapper {
            display: flex;
            justify-content: center;
        }
    }
    h3 {
        color: #222222;
        font-size: 1.2rem;
        margin-bottom: 16px;
    }
}

.dateWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.8rem;
    margin-bottom: 32px;
}

.radioWrapper{
    flex: 1;
    margin-bottom: 32px;

    label:first-child{
        margin-bottom: 8px;
    }
}

.buttonWrapper{
    align-self: flex-end;
    justify-self: flex-end;
}
