@import "../../variables.module.scss";

.wrapper {
    padding: 0 16px;
}

.totalValue {
    text-align: center;
    color: $color-danger;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 25px;
}

.description {
    color: #afb3bb;
}

.divider {
    border: none;
    height: 1px;
    background-color: $color-danger;
    margin-bottom: 15px;
}

.list {
    font-size: 1.8rem;
}

.listItem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.listItem span {
    color: $color-title;
}

.listItem span:last-child {
    color: $color-danger;
}
