@import '../../variables.module.scss';

.wrapper{
  width: 100%;
  h3{
    font-size:1.2rem;
    color:$color-text;
    font-weight: 700;
    &::after{
      content:'';
      display:block;
      height: 1px;
      background-color: $color-light-gray;
      margin: 8px 0;
    }
  }
}

.categoriesWrapper{
  display: flex;
  flex-direction: column;
}

.category{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size:1.6rem;
  font-weight: 400;
  color:$color-text;
  div + div{
    color:$color-background-success;
  }
  &:not(:last-child){
    margin-bottom: 24px;
  }
}