.navbar {
    display: flex;
    list-style: none;
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}

.navbar__link {
    padding: 0.4rem 0.6rem;
    color: var(--color-title);
    font-size: 1.8rem;
    transition: color 0.3s;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active,
.navbar__link.active {
    color: var(--color-danger);
}
