@import "../../../variables.module.scss";

.select {
    font-size: $font-size-default;
    position: relative;
    width: 100%;

    span {
        display: block;
        font-weight: bold;
        margin-bottom: $spacing-extra-small;
    }

    select {
        background-color: $color-background-light-gray;
        border-radius: $border-radius-default;
        border: 1px solid $color-background-gray;
        cursor: pointer;
        height: 4rem;
        padding: 0rem 1.2rem;
        width: 100%;
        position: relative;
    }
}
