/*importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #F9F8FE;
    font-size: 1.6rem;
    height: 100vh;
    overflow: auto;
}
