/* BORDERS */
$border-radius-default: 6px;

/* COLORS */
$color-danger: #ff7e78;
$color-title: #444c66;
$color-info: #78d7ed;
$color-background-danger: $color-danger;
$color-background-dark: #a2a1a1;
$color-background-default: #f9f8fe;
$color-background-gray: #ebebeb;
$color-background-light: #fff;
$color-background-success: #01c9b8;
$color-background-info: $color-info;
$color-light-gray:#c4c4c4;
$color-text:#222;

/* SPACING */
$spacing-extra-small: 1rem;
$spacing-small: 1.5rem;
$spacing-default: 1.8rem;
