/* BORDERS */
$border-radius-default: 4px;

/* COLORS */
$color-danger: #ff7e78;
$color-title: #444c66;
$color-info: #78d7ed;
$color-background-danger: $color-danger;
$color-background-dark: #a2a1a1;
$color-background-default: #f9f8fe;
$color-background-gray: #ebebeb;
$color-background-light-gray: #f1f1f1;
$color-background-light: #fff;
$color-background-success: #01c9b8;
$color-background-info: $color-info;
$color-text-default: #222;

/* SPACING */
$spacing-extra-small: 1rem;
$spacing-small: 1.5rem;
$spacing-default: 1.8rem;

/* FONTS */
$font-size-default: 1.6rem;
