@import "../../variables.module.scss";

.totalValue {
    text-align: center;
    color: $color-danger;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 25px;
}

.list {
    font-size: 1.8rem;
}

.listIitem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.listIitem span {
    color: $color-title;
}

.listIitem span:last-child {
    color: $color-info;
}
